/frontend/node_modules

# Ignore files in the backend folder
/backend/.idea/
/backend/.classpath
/backend/.project
/backend/.settings/
/backend/documents/
/backend/uploads/
/backend/firma_soporte/
/backend/firmas/
/backend/images/



/backend/src/main/java/com/app/starter1/config/

/media/ 

/backup-service/public/*.sql


/backup-service/public/secret_client.json
/backup-service/public/token.json

/frontend/.env.local


/backend/*.iml
/backend/*.iws

# Maven build directory
/backend/target/

# User-specific files
./backend/DS_Store
./bakend/Thumbs.db
